Thumbs.db
.DS_Store
.dist
.tmp
.sass-cache
.camel-jbang
npm-debug.log
node_modules
builds
package-lock.json
public
resources

# generated content
content/timeline/generated*
content/roadmap/generated*
contributors.txt
