{{ define "main" }}

{{ partial "page-title.html" . }}
  
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-11">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-11">
        <div class="content">
           <div class="timeline">
             {{ range sort .Data.Pages ".Date" "desc" }}
             {{ $.Scratch.Add "i" 1 }}
             {{ $i := $.Scratch.Get "i" }}
            
              {{ if modBool $i 2 }}
                <div class="container left">
              {{ else }}
                <div class="container right">
              {{ end }}
                  <div class="content">
                    <h2>{{ time.Format "Jan 2006" .Params.date }}</h2>
                    <h3>{{ .Params.title }}</h3>
                    <p>{{ .Content }}</p>
                  </div>
                </div>
              {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<link rel="stylesheet" href="{{ `plugins/timeline/timeline.css` | absURL }} ">
{{ end }}
