/*!------------------------------------------------------------------
[CUSTOM STYLESHEET]
PROJECT: Kaoto
VERSION: 1.0
-------------------------------------------------------------------*/

.content h1, .content h2, .content h3, .content h4 {
    margin-top: 0.8em;
}

.content h1 {
    font-size: 3em;
}

.content h2 {
    font-size: 2.2em;
}

.content h3 {
    font-size: 2em;
}

.content h4 {
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: playfair display, serif;
    line-height: 1.2
}

h1,
.h1 {
    /*font-size: 60px;*/
    font-size: 50px;
}

@media(max-width:991px) {

    h1,
    .h1 {
        /*font-size: 65px;*/
        font-size: 55px;
    }
}

h2,
.h2 {
    /*font-size: 60px;*/
    font-size: 32px;
}

@media(max-width:991px) {
    h2,
    .h2 {
        /*font-size: 50px;*/
        font-size: 32px;
    }
}

h3,
.h3 {
    font-size: 26px;
}

h4,
.h4 {
    font-size: 22px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 14px;
}


