{{ define "main" }}

{{ partial "page-title.html" . }}


<!-- portfolio -->
<section class="section">
  <div class="container">
    <p>For all workshops, we will assume the user have already a running Kaoto instance on the specified version of each tutorial.</p>
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
					{{ $categories := slice }}
					{{ range .Data.Pages }}
					{{ range .Params.categories }}
					{{ $categories = $categories | append . }}
					{{ end }}
					{{ end }}
					{{ range ( $categories | uniq ) }}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
          </label>
          {{ end }}
        </div>
        <ul>
          <li>`Beginner` level means only using the graphical canvas (no-code).</li>
          <li>`Intermediate` level means slight use of the text editor (low-code).</li>
          <li>`Advanced` level means complex features like setting up external services.</li>
        </ul>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-4 mb-4 shuffle-item" data-groups="[{{range $index, $element:= .Params.categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
        <article class="card shadow">
          <a href="{{.Permalink}}" title="{{.Title }}">
          {{ if .Params.Image}}
          <img class="rounded card-img-top" src="{{.Params.Image | relURL}}" alt="{{.Title }}">
          {{ end }}
          </a>
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
            </h4>
            <p class="cars-text">{{.Summary}}</p>
            <a href="{{.Permalink}}" class="btn btn-sm btn-primary">Read More</a>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->

<section class="section bg-light">
  <div class="container">
    {{ partial "client-slider.html" . }}
  </div>
</section>

{{ end }}
