{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        {{ if .Params.image }}
        <div class="col-lg-9 text-center mb-4">
          <img src="{{.Params.image | absURL }}" alt="{{.Title}}" class="img-fluid rounded mb-4">
          <p class="font-secondary">Published on {{ .PublishDate.Format "02 Jan 2006" }} by <span class="text-primary">{{site.Params.Author}}</span></p>
        </div>
        {{ end }}
        <div class="col-lg-9">
          <div class="content">
            <p>In this workshop we will {{ .RenderString .Params.goals }}.</p>
            <p><strong>We will be using Kaoto version <code>{{ .Params.kaoto}}</code> and the VS Code Kaoto extension version <code>{{ .Params.vscode_kaoto}}</code>.</strong></p>
            <p>The suggested way of following this workshop is to read the goals of each exercise and try to do it without looking at the solution. After finishing the exercise, you can check if the solution reached is the same as the solution suggested.</p>
            <p>If you are having difficulties with an exercise, you can try to take a look at the <code>Hints</code>. If that&rsquo;s not enough, you can check on the <code>Solution</code> section how to do it.</p>
            <p>Note that there may be more than one way of finishing the exercise.</p>

            {{.Content }}
          </div>
          <div>
            <p>
              <strong><code>Did you enjoy the workshop? Make sure to check out the other ones too.</code>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
