{{- $uid := .Page.RelPermalink | md5 -}}
{{- $fig0 := printf "fig-%s-0" $uid -}}
{{- $fig1 := printf "fig-%s-1" $uid -}}
{{- $fig2 := printf "fig-%s-2" $uid -}}
{{- $fig3 := printf "fig-%s-3" $uid -}}
{{- $fig4 := printf "fig-%s-4" $uid -}}
{{- $togg1 := printf "toggle-%s-1" $uid -}}

<h3>Navigate to Kaoto Perspective</h3>

<ol>
  <li>Open VS Code</li>
  <li>Click on the Kaoto icon in the Activity Bar (left sidebar)</li>
  <li>The Kaoto perspective will open, showing the route designer</li>
</ol>

{{ $p0 := relURL "images/quickstart/00-kaoto-perspective.png" }}
{{ $p1 := relURL "images/quickstart/01-new-camel-file.png" }}
{{ $p2 := relURL "images/quickstart/01-camel-route-item.png" }}
{{ $p3 := relURL "images/quickstart/01-yaml-dsl-item.png" }}
{{ $p4 := relURL "images/quickstart/01-name.png" }}
{{ $p5 := relURL "images/quickstart/01-result.png" }}

<figure class="image">
  <button type="button" class="image-preview-button" aria-haspopup="dialog" data-modal-target="modal-{{ $fig0 }}">
    <img src="{{ $p0 }}" alt="Kaoto perspective" class="expandable-image">
  </button>
  <figcaption>Kaoto perspective</figcaption>
</figure>
<dialog id="modal-{{ $fig0 }}" class="image-modal" aria-label="Image preview">
  <form method="dialog">
    <button type="submit" class="modal-close" aria-label="Close preview" autofocus>&times;</button>
  </form>
  <img class="modal-content" src="{{ $p0 }}" alt="Kaoto perspective">
</dialog>

<h3>Create a New Camel Route</h3>

<ol>
  <li>In the Kaoto perspective, click <strong>"Camel File..."</strong></li>
</ol>
<figure class="image">
  <button type="button" class="image-preview-button" aria-haspopup="dialog" data-modal-target="modal-{{ $fig1 }}">
    <img src="{{ $p1 }}" alt="New Camel file" class="expandable-image">
  </button>
  <figcaption>New Camel file</figcaption>
</figure>
<dialog id="modal-{{ $fig1 }}" class="image-modal" aria-label="Image preview">
  <form method="dialog">
    <button type="submit" class="modal-close" aria-label="Close preview" autofocus>&times;</button>
  </form>
  <img class="modal-content" src="{{ $p1 }}" alt="New Camel file">
</dialog>

<ol start="2">
  <li>Choose <strong>"Camel Route"</strong> as the route type</li>
</ol>
<figure class="image">
  <button type="button" class="image-preview-button" aria-haspopup="dialog" data-modal-target="modal-{{ $fig2 }}">
    <img src="{{ $p2 }}" alt="Camel route item" class="expandable-image">
  </button>
  <figcaption>Camel route item</figcaption>
</figure>
<dialog id="modal-{{ $fig2 }}" class="image-modal" aria-label="Image preview">
  <form method="dialog">
    <button type="submit" class="modal-close" aria-label="Close preview" autofocus>&times;</button>
  </form>
  <img class="modal-content" src="{{ $p2 }}" alt="Camel route item">
</dialog>

<ol start="3">
  <li>Choose between <strong>"YAML DSL"</strong> or <strong>"XML DSL"</strong> as the route type</li>
</ol>
<figure class="image">
  <button type="button" class="image-preview-button" aria-haspopup="dialog" data-modal-target="modal-{{ $fig3 }}">
    <img src="{{ $p3 }}" alt="YAML DSL item" class="expandable-image">
  </button>
  <figcaption>YAML DSL item</figcaption>
</figure>
<dialog id="modal-{{ $fig3 }}" class="image-modal" aria-label="Image preview">
  <form method="dialog">
    <button type="submit" class="modal-close" aria-label="Close preview" autofocus>&times;</button>
  </form>
  <img class="modal-content" src="{{ $p3 }}" alt="YAML DSL item">
</dialog>

<ol start="4">
  <li>Give a name to the new route</li>
</ol>
<figure class="image">
  <button type="button" class="image-preview-button" aria-haspopup="dialog" data-modal-target="modal-{{ $fig4 }}">
    <img src="{{ $p4 }}" alt="New route name" class="expandable-image">
  </button>
  <figcaption>New route name</figcaption>
</figure>
<dialog id="modal-{{ $fig4 }}" class="image-modal" aria-label="Image preview">
  <form method="dialog">
    <button type="submit" class="modal-close" aria-label="Close preview" autofocus>&times;</button>
  </form>
  <img class="modal-content" src="{{ $p4 }}" alt="New route name">
</dialog>

<ol start="5">
  <li>A basic timer-based route will be created automatically</li>
</ol>

{{ $yamlCode := `- route:
    from:
      uri: timer:yaml
      parameters:
        period: "1000"
      steps:
        - setBody:
            simple: Hello Camel from ${routeId}
        - log: ${body}
    id: route-1905` }}

<div class="toggle-wrapper chroma">
  <input type="checkbox" id="{{ $togg1 }}" class="toggle-input">

  <div class="toggle-image-block">
    <div class="tab-bar">
      <span class="tab active">Image Preview</span>
      <label for="{{ $togg1 }}" class="tab inactive">View YAML</label>
    </div>
    <div class="content-area">
      <button type="button" class="image-preview-button" aria-haspopup="dialog" data-modal-target="modal-{{ $togg1 }}">
        <img src="{{ $p5 }}" alt="Generated timer-based Camel route in Kaoto" class="expandable-image">
      </button>
    </div>
  </div>

  <div class="toggle-code-block">
    <div class="tab-bar">
      <label for="{{ $togg1 }}" class="tab inactive">View Image</label>
      <span class="tab active">YAML Source</span>
    </div>
    <label for="{{ $togg1 }}" class="content-area">
      {{ highlight $yamlCode "yaml" "" | safeHTML }}
    </label>
  </div>
</div>

<dialog id="modal-{{ $togg1 }}" class="image-modal" aria-label="Image preview">
  <form method="dialog">
    <button type="submit" class="modal-close" aria-label="Close preview" autofocus>&times;</button>
  </form>
  <img class="modal-content" src="{{ $p5 }}" alt="Generated timer-based Camel route in Kaoto">
</dialog>
