{{ $content := `

### Navigate to Kaoto Perspective

1. Open VS Code
2. Click on the Kaoto icon in the Activity Bar (left sidebar)
3. The Kaoto perspective will open, showing the route designer

{{< image-sh src="/images/quickstart/00-kaoto-perspective.png" text="Kaoto perspective" >}}

### Create a New Camel Route

1. In the Kaoto perspective, click **"Camel File..."**
{{< image-sh src="/images/quickstart/01-new-camel-file.png" text="New Camel file" >}}

2. Choose **"Camel Route"** as the route type
{{< image-sh src="/images/quickstart/01-camel-route-item.png" text="Camel route item" >}}

3. Choose between **"YAML DSL"** or **"XML DSL"** as the route type
{{< image-sh src="/images/quickstart/01-yaml-dsl-item.png" text="YAML DSL item" >}}

4. Give a name to the new route
{{< image-sh src="/images/quickstart/01-name.png" text="New route name" >}}

5. A basic timer-based route will be created automatically

{{< img-toggle src="/images/quickstart/01-result.png" lang="yaml" >}}
- route:
    from:
      uri: timer:yaml
      parameters:
        period: "1000"
      steps:
        - setBody:
            simple: Hello Camel from ${routeId}
        - log: ${body}
    id: route-1905
{{< /img-toggle >}}
` }}
{{ .Page.RenderString (dict "display" "block") $content }}
